body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color: rgb(171, 173, 247);
    text-shadow: 0px 0px 1.4px black;
    font-style: bold;
}
.mainBtn{
    border: 1px rgb(150, 144, 144) solid;
    height: 30px;
    width: 120px;
    margin-left: 10px;
    color: black;
    background-color: rgb(202, 203, 255);
}
.mainBtn:hover{
    background-color: rgb(171, 173, 247);
}
.note {
    color: rgb(66, 66, 66);
    padding-top: 5px;
    font-size: 15px;
    list-style:none;
    margin-left: -30px;
}
.note button{
    margin-right: 15px;
    height: 30px;
    width: 120px;
    border: 1px rgb(218, 216, 216) solid;
}
.error {
    color: red;
    background-color: rgba(231, 231, 231, 0.74);
    font-size: 20px;
    border-style: solid;
    padding: 10px;
    margin: 10px;
}
.create-note, .login {
    margin: 10px;
}
.create-note>input, .login input{
    height: 26px;
    border: 1px solid lightblue;
}
.create-note button{
    /* height: 30px; */
    padding: 6px 10px;
    border-radius: 0;
    border: 1px solid lightblue;
}
.login button {
    padding: 5px 88.5px;
    border-radius: 0;
    border: 1px solid lightblue;
}
.two {
    margin: 3px 10px;
}
.noteForm {
    margin: 10px;
    width: 250px;
}
.noteForm h2{
    font-weight: 400;
    font-size: 22px;
    margin: 5px 0;
    color: rgb(115, 145, 155);
}
.noteForm input{
    height: 26px;
    width: 97%;
}
.noteForm button{
    padding: 6px 10px;
    border-radius: 0;
    border: 1px solid lightblue;
    width: 100%;
}
.userName{
    color: rgb(11, 167, 146);
    margin: 10px;
}